/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60em;
  height: 34em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26em;
  width: 26em;
  left: 4em;
  bottom: 4em;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #409eff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26em);
  -ms-transform: translateX(26em);
  transform: translateX(26em);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34em;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------*/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
